# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Android Development Branch CI

on:
  push:
    branches: [ master  ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: set up JDK 11
        uses: actions/setup-java@v1
        with:
            java-version: 1.11

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew


      #  Decode Google services configuration file
      #- name: Decode google-services.json
        #env:
          #FIREBASE_CONFIG: ${{ secrets.FIREBASE_CONFIG }}
        #run: echo $FIREBASE_CONFIG > app/google-services.json

      - name: Build with Gradle
        run: ./gradlew build --stacktrace


      - name: Build debug APK
        run:  ./gradlew assembleDebug --stacktrace

        # Assemble debug test apk to send to firebase test lab
      - name: Assemble Debug Test APK
        run: ./gradlew assembleDebugAndroidTest --stacktrace


      - name: Upload APK
        uses: actions/upload-artifact@v1
        with:
          name: legacyNow-android-dev
          path: app/build/outputs/apk/debug/app-debug.apk
