name: Android Branch CI

on:
  push:
    branches: [ newcode ]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
       - name: checkout
         uses: actions/checkout@v2.4.2
         
       - name: Setup Java JDK
         uses: actions/setup-java@v3.4.1
         with: 
          java-version: 1.8
          
       - name: build with gradle
         run: ./gradlew build
       - name: upload APK
         uses: actions/upload-artifact@v3.1.0
         with: 
            name: app
            path: app/build/outputs/apk/debug/app-debug.apk
